[flake8]
exclude =
    .git,
    __pycache__,
    autotest
ignore =
    # https://flake8.pycqa.org/en/latest/user/error-codes.html
    # 'module' imported but unused
    F401, 
    # https://pycodestyle.readthedocs.io/en/latest/intro.html#error-codes
    # module level import not at top of file
    E402, 
    # no newline at end of file
    W292, 
    # blank line contains whitespace
    W293, 
    # blank line at end of file
    W391, 
    # line break before binary operator
    W503, 
    # line break after binary operator
    W504,
    # whitespace before ':'	
    E203 
statistics = True
max-line-length = 140
