name: Build and test (feature/main)

on:
  push:
    branches:
      - main
      - "feature/**"
  pull_request:
    types:
      - opened # triggers build when opened
      - synchronize # triggers build when commits are pushed to HEAD
    branches:
      - "feature/**"
  # Manual trigger
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - macos-14 # arm64 (free)
          - macos-14-large # intel (billable)
          - macos-15 # arm64 (free)
          - macos-15-intel # intel (free)
        build_type:
          - Release

    uses: ./.github/workflows/build-and-test-workflow.yml
    with:
      platform: ${{ matrix.platform }}
      build_type: ${{ matrix.build_type }}
