name: Docs

on:
  push:
    branches:
      - "release/v[0-9].[0-9].[0-9]"
  pull:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install sphinx myst-nb sphinx-rtd-theme numpy matplotlib

      - name: Run sphinx
        working-directory: docs
        run: |
          sphinx-apidoc --force --separate --tocfile modules -H MeshKernelPy -o ./api ../meshkernel
          make clean
          make html

      - name: Deploy to github pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
